/* * {
    border: 1px dashed red;
} */

body {
    width: 100%;
    height: 100%;
    background: black;
    display: flex;
    justify-content: center;
}

.post {
    width: 400px;
    height: 600px;
    background: white;
}

.post-header {
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-header-left {
    display: flex;
    align-items: center;
}

i {
    font-size: 40px;
}

.post-author span {
    display: block;
}

.mx-1 {
    margin: 0 8px;
}

.my-1 {
    margin: 8px 0;
}
.post-image img{
    width: 100%;
}

.post-body-icons {
    display: flex;
    justify-content: space-between;
}

